#createLink {
  background-position: -55px -47px; }

#unLink {
  background-position: -72px -47px; }

ul.colors li#white a {
  display: block;
  background: white;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#snow a {
  display: block;
  background: snow;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#ghostwhite a {
  display: block;
  background: ghostwhite;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#whitesmoke a {
  display: block;
  background: whitesmoke;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#floralwhite a {
  display: block;
  background: floralwhite;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#aliceblue a {
  display: block;
  background: aliceblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#azure a {
  display: block;
  background: azure;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lavenderblush a {
  display: block;
  background: lavenderblush;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#ivory a {
  display: block;
  background: ivory;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#honeydew a {
  display: block;
  background: honeydew;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mintcream a {
  display: block;
  background: mintcream;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#beige a {
  display: block;
  background: beige;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lemonchiffon a {
  display: block;
  background: lemonchiffon;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#linen a {
  display: block;
  background: linen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightyellow a {
  display: block;
  background: lightyellow;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightgoldenrodyellow a {
  display: block;
  background: lightgoldenrodyellow;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#oldlace a {
  display: block;
  background: oldlace;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#seashell a {
  display: block;
  background: seashell;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#antiquewhite a {
  display: block;
  background: antiquewhite;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#blanchedalmond a {
  display: block;
  background: blanchedalmond;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#bisque a {
  display: block;
  background: bisque;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#papayawhip a {
  display: block;
  background: papayawhip;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#moccasin a {
  display: block;
  background: moccasin;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#navajowhite a {
  display: block;
  background: navajowhite;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#peachpuff a {
  display: block;
  background: peachpuff;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mistyrose a {
  display: block;
  background: mistyrose;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#pink a {
  display: block;
  background: pink;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#hotpink a {
  display: block;
  background: hotpink;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#deeppink a {
  display: block;
  background: deeppink;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#red a {
  display: block;
  background: red;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#crimson a {
  display: block;
  background: crimson;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#indianred a {
  display: block;
  background: indianred;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#firebrick a {
  display: block;
  background: firebrick;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkred a {
  display: block;
  background: darkred;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#maroon a {
  display: block;
  background: maroon;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#plum a {
  display: block;
  background: plum;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#violet a {
  display: block;
  background: violet;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#palevioletred a {
  display: block;
  background: palevioletred;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumvioletred a {
  display: block;
  background: mediumvioletred;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumorchid a {
  display: block;
  background: mediumorchid;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumpurple a {
  display: block;
  background: mediumpurple;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkorchid a {
  display: block;
  background: darkorchid;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkviolet a {
  display: block;
  background: darkviolet;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#blueviolet a {
  display: block;
  background: blueviolet;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkmagenta a {
  display: block;
  background: darkmagenta;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#purple a {
  display: block;
  background: purple;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#indigo a {
  display: block;
  background: indigo;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightcyan a {
  display: block;
  background: lightcyan;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#paleturquoise a {
  display: block;
  background: paleturquoise;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#powderblue a {
  display: block;
  background: powderblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightblue a {
  display: block;
  background: lightblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightskyblue a {
  display: block;
  background: lightskyblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#skyblue a {
  display: block;
  background: skyblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#cyan a {
  display: block;
  background: cyan;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#aquamarine a {
  display: block;
  background: aquamarine;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#turquoise a {
  display: block;
  background: turquoise;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumturquoise a {
  display: block;
  background: mediumturquoise;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkturquoise a {
  display: block;
  background: darkturquoise;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#deepskyblue a {
  display: block;
  background: deepskyblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#dodgerblue a {
  display: block;
  background: dodgerblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#royalblue a {
  display: block;
  background: royalblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#cornflowerblue a {
  display: block;
  background: cornflowerblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#slateblue a {
  display: block;
  background: slateblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#steelblue a {
  display: block;
  background: steelblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#cadetblue a {
  display: block;
  background: cadetblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkcyan a {
  display: block;
  background: darkcyan;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#teal a {
  display: block;
  background: teal;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#blue a {
  display: block;
  background: blue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumblue a {
  display: block;
  background: mediumblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkslateblue a {
  display: block;
  background: darkslateblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkblue a {
  display: block;
  background: darkblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#navy a {
  display: block;
  background: navy;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#midnightblue a {
  display: block;
  background: midnightblue;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#palegreen a {
  display: block;
  background: palegreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightgreen a {
  display: block;
  background: lightgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#yellow a {
  display: block;
  background: yellow;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#greenyellow a {
  display: block;
  background: greenyellow;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#chartreuse a {
  display: block;
  background: chartreuse;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lawngreen a {
  display: block;
  background: lawngreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lime a {
  display: block;
  background: lime;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#springgreen a {
  display: block;
  background: springgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumspringgreen a {
  display: block;
  background: mediumspringgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#mediumaquamarine a {
  display: block;
  background: mediumaquamarine;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#yellowgreen a {
  display: block;
  background: yellowgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkseagreen a {
  display: block;
  background: darkseagreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#forestgreen a {
  display: block;
  background: forestgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#green a {
  display: block;
  background: green;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkgreen a {
  display: block;
  background: darkgreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#olive a {
  display: block;
  background: olive;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkolivegreen a {
  display: block;
  background: darkolivegreen;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#olivedrab a {
  display: block;
  background: olivedrab;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#palegoldenrod a {
  display: block;
  background: palegoldenrod;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#khaki a {
  display: block;
  background: khaki;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#gold a {
  display: block;
  background: gold;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#goldenrod a {
  display: block;
  background: goldenrod;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkkhaki a {
  display: block;
  background: darkkhaki;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkgoldenrod a {
  display: block;
  background: darkgoldenrod;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#sandybrown a {
  display: block;
  background: sandybrown;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightsalmon a {
  display: block;
  background: lightsalmon;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#orange a {
  display: block;
  background: orange;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkorange a {
  display: block;
  background: darkorange;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darksalmon a {
  display: block;
  background: darksalmon;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#coral a {
  display: block;
  background: coral;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#chocolate a {
  display: block;
  background: chocolate;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#peru a {
  display: block;
  background: peru;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#tan a {
  display: block;
  background: tan;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#burlywood a {
  display: block;
  background: burlywood;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#sienna a {
  display: block;
  background: sienna;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#saddlebrown a {
  display: block;
  background: saddlebrown;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#brown a {
  display: block;
  background: brown;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightgray a {
  display: block;
  background: lightgray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#silver a {
  display: block;
  background: silver;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkgray a {
  display: block;
  background: darkgray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#gray a {
  display: block;
  background: gray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#dimgray a {
  display: block;
  background: dimgray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#lightslategray a {
  display: block;
  background: lightslategray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#slategray a {
  display: block;
  background: slategray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#darkslategray a {
  display: block;
  background: darkslategray;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }

ul.colors li#black a {
  display: block;
  background: black;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  border: 1px solid #ededed; }
