
  #bold{
    background-position:  -5px -13px;
  }
  #italic{
    background-position:  -17px -13px;
  }
  #underline{
    background-position:  -37px -13px;
  }
  #inserthorizontalrule{
    background-position: -5px -63px;
  }
  #strikethrough{
    background-position: -57px -13px;
  }
  #superscript{

    background-position: -2px -45px;}
  #subscript{
    background-position: -22px -45px;
  }
  #justifyCenter{
    background-position: -37px 0;
  }
  #justifyLeft{
    background-position: -22px 0;
  }
  #justifyRight{
    background-position: -57px 0;
  }
  #justifyFull{
    background-position: -77px 0;
  }
  #outdent{
    background-position: -55px -30px;
  }
  #indent{
    background-position: -37px -30px;
  }
  #insertUnorderedList{
    background-position: -3px -30px;
  }
  #insertOrderedList{
    background-position: -17px -30px;
  }
  #removeFormat{
    background-position: -55px -63px;
  }
