<ul class="emoti">
    {{#each this}}
        <li id="{{this}}">
            <a href="#" data-name="{{this}}" class="smilies">
                {{this}}
            </a>
        </li>
    {{/each}}
</ul>